.data-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.data-table th,
.data-table td {
  border: 1px solid rgb(222, 226, 230);
  padding: 8px;
}

.data-table th {
  background-color: #f2f2f2;
  text-align: left;
  font-weight: 700;
}

.flag {
  width: 20px;
  height: 15px;
  margin-right: 5px;
}

.no-results, .start-searching {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  color: #666;
}

.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #666;
}

.loader {
  border: 2px solid #f4f4f4;
  border-radius: 50%;
  border-top: 2px solid #3498db;
  width: 15px;
  height: 15px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}